<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-button routerLink="/inicio">Inicio</button>
  <button mat-button [matMenuTriggerFor]="producto">Productos</button>
  <mat-menu #producto="matMenu">
      <button mat-menu-item routerLink="/producto">general</button>
      <button mat-menu-item routerLink="/modsworkshop">mods Workshop</button>
      <button mat-menu-item routerLink="/soporte">soporte</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
  <mat-menu #usuario="matMenu">
      <button mat-menu-item routerLink="/registro">registrarse</button>
      <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesión</button>
  </mat-menu>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
  </button>
  
</mat-toolbar>